{
  "plugins": [
    "syntax-dynamic-import",
    "babel-plugin-syntax-export-extensions",
    "babel-plugin-transform-export-extensions"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": "60"
        },
        "modules": false
      }
    ]
  ]
}
